@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  --hue: 224;
  --accent-hue: 38;
  --error-hue: 340;

  --background: hsl(var(--hue), 10%, 92%); /* body */
  --foreground: hsl(var(--hue), 10%, 10%); /* main text */

  --inversed-background: hsl(var(--hue), 10%, 10%); /* main text */
  --inversed-foreground: hsl(var(--hue), 10%, 98%); /* body */

  --accent: hsl(var(--accent-hue), 95%, 50%);
  --warning: #fe9a00; /* amber-500 */
  --success: #00bc7d; /* emerald-500 */

  --btn-foreground: hsl(var(--hue), 10%, 10%);
  --btn-background: hsl(var(--accent-hue), 90%, 65%);
  --btn-foreground-hover: hsl(var(--hue), 10%, 10%);
  --btn-background-hover: hsl(var(--accent-hue), 95%, 70%);

  --btn-secondary-foreground: hsl(var(--hue), 10%, 40%);
  --btn-secondary-background: white;
  --btn-secondary-foreground-hover: black;
  --btn-secondary-background-hover: hsl(var(--accent-hue), 95%, 70%);

  --input: white;
  --input-border: white;
  --input-autofill: white;

  --card: white;
  --dialog-background: hsl(var(--hue), 10%, 95%);

  --popover-border: hsl(var(--hue), 10%, 90%);
  --popover-foreground: hsl(var(--hue), 10%, 45%);
  --popover-focus: hsl(var(--hue), 10%, 95%);

  --error: hsl(var(--error-hue), 85%, 50%);

  --area: hsl(var(--hue), 10%, 95%); /* auth */
  --muted: hsl(var(--hue), 10%, 60%);
  --border: hsl(var(--hue), 10%, 70%);
  --icon: hsl(var(--accent-hue), 95%, 50%);
  --ring: hsl(var(--hue), 10%, 15%);
  --scroll: hsl(var(--hue), 10%, 85%);
}

.dark {
  --background: hsl(var(--hue), 10%, 20%); /* body */
  --foreground: hsl(var(--hue), 10%, 90%);

  --inversed-background: hsl(var(--hue), 20%, 95%);
  --inversed-foreground: hsl(var(--hue), 10%, 20%);

  --accent: hsl(var(--accent-hue), 95%, 75%);
  --warning: #e17100; /* amber-600 */
  --success: #009966; /* emerald-600 */

  --btn-foreground: hsl(var(--hue), 10%, 10%);
  --btn-background: hsl(var(--accent-hue), 85%, 70%);
  --btn-foreground-hover: hsl(var(--hue), 10%, 10%);
  --btn-background-hover: hsl(var(--accent-hue), 85%, 75%);

  --btn-secondary-foreground: hsl(var(--hue), 10%, 60%);
  --btn-secondary-background: hsl(var(--hue), 10%, 10%);
  --btn-secondary-foreground-hover: white;
  --btn-secondary-background-hover: hsl(var(--accent-hue), 85%, 40%);

  --input: hsl(var(--hue), 10%, 25%);
  --input-border: hsl(var(--hue), 10%, 25%);
  --input-autofill: hsl(var(--hue), 10%, 25%);

  --card: hsl(var(--hue), 10%, 10%);
  --dialog-background: hsl(var(--hue), 10%, 10%);

  --popover-focus: hsl(var(--hue), 10%, 17%);
  --popover-border: hsl(var(--hue), 10%, 20%);
  --popover-foreground: hsl(var(--hue), 10%, 95%);

  --error: hsl(var(--error-hue), 85%, 60%);

  --area: hsl(var(--hue), 10%, 15%);
  --muted: hsl(var(--hue), 10%, 60%);
  --border: hsl(var(--hue), 10%, 30%);
  --icon: hsl(var(--accent-hue), 95%, 80%);
  --ring: hsl(var(--hue), 10%, 30%);
  --scroll: hsl(var(--hue), 10%, 30%);
}

@theme inline {
  --font-sans: var(--font-mulish-sans);
  --font-pt: var(--font-pt-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-inversed-background: var(--inversed-background);
  --color-inversed-foreground: var(--inversed-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-warning: var(--warning);
  --color-success: var(--success);

  --color-btn-foreground: var(--btn-foreground);
  --color-btn-foreground-hover: var(--btn-foreground-hover);
  --color-btn-background: var(--btn-background);
  --color-btn-background-hover: var(--btn-background-hover);

  --color-btn-secondary-foreground: var(--btn-secondary-foreground);
  --color-btn-secondary-foreground-hover: var(--btn-secondary-foreground-hover);
  --color-btn-secondary-background: var(--btn-secondary-background);
  --color-btn-secondary-background-hover: var(--btn-secondary-background-hover);

  --color-btn-accent-foreground: var(--btn-accent-foreground);
  --color-btn-accent-foreground-hover: var(--btn-accent-foreground-hover);
  --color-btn-accent-background: var(--btn-accent-background);
  --color-btn-accent-background-hover: var(--btn-accent-background-hover);

  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-input-autofill: var(--input-autofill);

  --color-card: var(--card);
  --color-dialog-background: var(--dialog-background);

  --color-popover-border: var(--popover-border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-focus: var(--popover-focus);

  --color-error: var(--error);

  --color-area: var(--area);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-icon: var(--icon);
  --color-ring: var(--ring);
  --color-scroll: var(--scroll);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  html,
  body {
    @apply h-full font-sans text-foreground bg-background transition-colors duration-300;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight scroll-m-20 cursor-default;
  }

  h1 {
    @apply font-semibold text-4xl lg:text-5xl text-foreground/90;
  }

  h2,
  h3 {
    @apply font-bold first:mt-0;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply leading-6 not-first:mt-4;
  }

  a {
    @apply font-medium;
  }

  .link {
    @apply underline underline-offset-4;
  }

  button:focus-visible {
    outline: none;
  }

  ::selection {
    @apply bg-accent text-black;
  }
}

@layer layout {
  :root {
    --gap: 16px;
    --gap-1-4: 4px;
    --gap-1-2: 8px;
    --gap-3-4: 12px;
  }

  .layout {
    @apply relative flex h-full;
  }
}

@layer components {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--input-autofill) inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
  }

  /* Animations */

  .fade {
    animation: fade 0.25s ease-out;
  }

  .fade--delayed {
    animation: fade 0.25s ease-out;
    animation-delay: 1000;
  }

  .flip-x {
    transform: scaleX(-1);
  }

  /* Custom transitions */

  .trans-a {
    @apply transition-all duration-300;
  }

  .trans-c {
    @apply transition-colors duration-300;
  }

  .trans-o {
    @apply transition-opacity duration-300;
  }

  .card {
    @apply rounded-xl bg-card transition-colors duration-300;
  }

  .inactive {
    @apply pointer-events-none! text-muted!;
  }

  .inactive button {
    @apply opacity-5;
  }

  .form-loading {
    transition: opacity 0.2s ease;
  }

  .icon--action {
    @apply cursor-pointer opacity-40 hover:opacity-100 transition-opacity duration-300;
  }

  .loading {
    animation: fade 1s ease both;
  }

  /* Auth form */

  .auth-form {
    @apply relative w-75 flex flex-col gap-4 transition-opacity;
  }

  .inactive {
    @apply opacity-40 pointer-events-none;
  }

  .auth-form_button {
    @apply w-full mt-1;
  }

  .auth-form_link {
    @apply mt-4 text-center text-sm text-muted hover:text-accent transition-colors duration-300;
  }

  .form-control-with-icon input {
    @apply pr-9!;
  }

  /* Markdown */

  /* Code blocks */
  .prose pre code {
    @apply my-2 rounded-md;
  }

  /* Horizontal rules */
  .prose hr {
    @apply my-4 border-border;
  }

  /* Paragraphs */
  .prose p {
    @apply my-4;
  }

  /* Headings */
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-accent;
  }

  /* Lists */
  .prose li {
    @apply list-disc list-inside;
  }
  .prose li::marker {
    @apply text-accent;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
